.mainheader_sec{
    background-color: #242323d3;
    color: #fff;
    width: 100%;
    transition: top 0.5s;
    height: 10%;
    max-height: 55px;
    min-height: 45px;
    margin: 0;
}



.sticky-header {
    position: fixed;
    top: 0;
}