.mainheader_sec{
    background-color: #1616169c;
    color: #fff;
    width: 100%;
    transition: top 0.5s;
    height: 10%;
    max-height: 65px;
    min-height: 50px;
    margin: 0;
    backdrop-filter: blur(10px);
}



.sticky-header {
    position: fixed;
    top: 0;
}