*{
  margin: 0;
  padding: 0;
}

/* scroll section */

::-webkit-scrollbar {
  width: 5px; 
}


::-webkit-scrollbar-track {
  background-color: transparent; 
}


::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.664); 
  border: 2px solid transparent; 
  border-radius: 8px; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999;
}


::-webkit-scrollbar-thumb:vertical:hover {
  border-color: #ccc; 
}


::-webkit-scrollbar-thumb:vertical:active {
  border-color: #999; 
}

::-webkit-scrollbar-button {
  display: none;
}

/* scroll section end */
