.main {
  background-image: url(https://e0.pxfuel.com/wallpapers/133/891/desktop-wallpaper-white-abstract-background-white-background-abstract-abstract-background-white-gold-abstract.jpg);
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;
}